html {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  max-width: 25em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
vertical-align: middle;
padding: 1em;
}

p {

  margin: 1.5rem;
  padding: 0.4em 0.75em 0.5rem;
  width: auto;
}

a:link {
  background-color: #f2f2f2;
  text-align: left;
  text-decoration: none;
  padding: 2em;
  width: auto;
  box-sizing: border-box;
  color: #666;
  border-color: #666;
  border-width: bold;

}

a:hover {
  color: #f2f2f2;
  background-color: #666;
  text-decoration: none;
  border-radius: 4px;
}



*Typefaces:* `Lato`
- *Maximum width on section inner boxes:* `25em`
- *Colours:* `#666`, `#333`, `#f2f2f2`
- *Paddings:* `1em`, `2em`, `0.4em 0.75em 0.5em`
- *Margins:* `1.5rem`
- *Line-height:* `1.5`
