html {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  max-width: 25em;
  margin: 1.5rem auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  max-width: 25em;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 1em;
}

p {
  margin: 1.5rem auto;
  vertical-align: middle;
  padding: 0.4em 0.75em 0.5rem;
  width: auto;
}

a:link {
  background-color: #f2f2f2;
  text-align: left;
  text-decoration: none;
  padding: 2em;
  width: auto;
  box-sizing: border-box;
  color: #666;
  border-color: #666;
  border-width: medium;
  border: 4px solid #000;
  border-radius: 10px;
  display: inline-block;
  margin: 1.5rem auto;
}

a:hover {
  color: #f2f2f2;
  background-color: #333;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;

}
